/* basic */
body {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto Bold', 'Times New Roman', serif;
	color: #353535;
	font-weight: normal;
}

body.bg-1-light {
	background: #849d8f url(../img/sunlight-1.png) no-repeat 50% 0;
}

body.bg-2-light {
	background: #8996a6 url(../img/sunlight-2.png) no-repeat 50% 0;
}

body.bg-3-light {
	background: #9d8b84 url(../img/sunlight-3.png) no-repeat 50% 0;
}

body.bg-1 {
	background: #849d8f;
}

body.bg-2 {
	background: #8996a6;
}

body.bg-3 {
	background: #9d8b84;
}

.bordered {
	border: 1px solid #333;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	border-bottom: 1px solid #a9bbb1;
}

a:hover, a:active {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

.container {
	min-width: 900px;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}
.container::after,
.container::before,
.clearfix {
	content: '';
	display: table;
	clear: both;
}

h1 {
	font-size: 35px;
	line-height: 40px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: bold;
	color: #353535;
}

.btn-red {
	display: inline-block;
	background: #f16743;
	border-radius: 40px;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	text-decoration: none;
	background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
	background: linear-gradient(to top, #e74b36, #f26843);
	background: -webkit-linear-gradient(to top, #e74b36, #f26843);
	box-shadow: 0 2px 2px #975a4b;
	text-shadow: 0px 2px 5px #a0200b;
	border: none;
}

.btn-red:hover {
	background: #f58669;
	color: #fff;
	background: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
	background: linear-gradient(to top, #ec6f5e, #f58669);
	background: -webkit-linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0 2px 2px #975a4b;
}

.btn-red:active {
	background: #d84732;
	color: #fff;
	background: -webkit-linear-gradient(bottom, #d84732, #e1613e);
	background: linear-gradient(to top, #d84732, #e1613e);
	background: -webkit-linear-gradient(to top, #d84732, #e1613e);
	box-shadow: inset 0 2px 2px #975a4b;
	border-bottom: none;
}

/* header */

.page__header {
	min-height: 54px;
	padding-top: 9px;
}

.header__topmenu {
	float: left;
}

.header__topmenu-logo {
	width: 154px;
	height: 64px;
	display: inline-block;
	float: left;
	border: none;
	margin-right: 15px;
	margin-left: -5px;
}

.header__topmenu-list {
	display: inline-block;
	min-height: 71px;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

.header__topmenu-list > li {
	display: inline-block;
	min-height: 51px;
	margin-left: 3px;
	padding-top: 14px;
	position: relative;
}

.header__topmenu-list > li > a {
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 20px;
	padding: 5px 10px;
	border: none;
}

.header__topmenu-list > li > a:after {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.header__topmenu-list > li > a:hover {
	background: #f7f6f3;
	color: #333;
}

.header__topmenu-list > li > a:active {
	background: #f7f6f3;
	color: #333;
	box-shadow: 0 -2px 1px #696969;
}

.header__topmenu-list > li > a:hover::after {
	border-color: #f7f6f3;
}

.header__topmenu-list > .active > a::after
 {
	border: none;
}

.header__topmenu-list ul {
	position: absolute;
	list-style: none;
	margin: 5px 0 0 -10px;
	padding: 3px 0px 5px 0px;
	background: #f7f6f3;
	border-radius: 5px;
	z-index: 10;
	min-width: 145px;
	display: none;
}

.header__topmenu-list > .parent:hover > ul {
	display: block;
}

.header__topmenu-list > .active > a {
	background: #d07058;
	color: #fff;
}

.header__topmenu-list ul li {
	padding: 0px;
	position: relative;
	/*height: 28px;*/
}

.header__topmenu-list ul li a {
	text-decoration: none;
	color: #343434;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	display: inline-block;
	font-weight: normal;
	width: 100%;
	height: auto;
	padding: 5px 20px;
	box-sizing: border-box;
	border: none;
}

.header__topmenu-list ul li:first-child a {
	font-weight: bold;
}

.header__topmenu-list ul li:first-child a::after {
	content: '';
	display: block;
	width: 120%;
	margin: 5px 0 0 -10px;
	border-bottom: 1px solid #d1d0ce;
}

.header__topmenu-list ul li a:hover {
	background: #fbded8;
}

.header__topmenu-list ul li a:active {
	background: #f6b5a5;
}

.header__topmenu-list ul li.active a {
	background: #d07058;
	color: #fff;
}

.header__info {
	/*width: 29%;*/
	float: right;
	text-align: right;
	margin-top: 15px;
	position: relative;
}

.header__info-btns {
	text-align: right;
	height: 30px;
	/*width: 244px;*/
}

.header__info-search {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #a2b8ac;
	border-radius: 50%;
	position: relative;
	margin-right: 8px;
	border: none;
}

.icon-search {
	background: url(../img/sprite.png) 0 0 no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 7px;
	left: 7px;
}

.icon-search::after {
	content: '';
	display: block;
	height: 4px;
	width: 20px;
	position: relative;
	top: 25px;
}

.header__search-form {
	width: 345px;
	position: absolute;
	right: 0;
	top: 34px;
	padding: 15px 18px;
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px  rgba(0,0,0,0.4);
	z-index: 10;
	display: none;
}

.header__search-input {
	height: 38px;
	width:100%;
	border: 1px solid #d3d3d2;
	padding: 0px 11px;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #999;
	font-size: 14px;
}

.header__info-search:hover {
	background: #f8f7f4;
}

.header__info-search:active {
	box-shadow: 0 -2px 1px #696969;
}

.header__info-search:hover .header__search-form{
	display: block;
}

.header__info-search:hover .icon-search {
	background-position: 0 -25px;
}

.header__info-login {
	display: inline-block;
	background: #a2b8ac;
	position: relative;
	vertical-align: middle;
	border-radius: 20px;
	padding: 0px 17px 0px 15px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	float: right;
	margin-top: 0px;
	margin-right: 10px;
}

.icon-login {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) -20px 0 no-repeat;
	float: left;
	margin-right: 7px;
	margin-top: 4px;
	z-index: 10;
}

.icon-login::after {
	content: '';
	display: block;
	height: 4px;
	width: 67px;
	position: relative;
	top: 25px
}

.header__login-form {
	width: 275px;
	height: 140px;
	background: #f8f7f4;
	border-radius: 5px;
	position: absolute;
	top: 34px;
	right: 0px;
	z-index: 17;
	padding: 20px 18px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	display: none;
}

.header__login-form::after {
	content: '';
	display: table;
	clear: both;
}

.header__login-mail,
.header__login-passwd {
	height: 38px;
	width:100%;
	border: 1px solid #d3d3d2;
	padding: 0px 11px;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #999;
	font-size: 14px;
	margin-bottom: 10px;
}

.header__login-links {
	width: 50%;
	float: right;
	text-align: left;
	margin-top: 5px;
}

.header__login-links a {
	color: #333;
	border: none;
	text-decoration: underline;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	display: block;
	font-weight: normal;
}

.header__login-links a:hover {
	color: #ffbc9e;
}

.header__login-submit {
	margin-top: 5px;
	float: left;
	font-size: 15px;
	line-height: 36px;
	width: 102px;
	text-align: center;
	padding: 0px;
	font-weight: 500;
	border-radius: 30px;
	text-shadow: none;
}

.header__info-login:hover {
	background: #f8f7f4;
}

.header__info-login:active {
	box-shadow: 0 -2px 1px #696969;
}

.header__info-login > a {
	border: none;
	color: #fff;
}

.header__info-login:hover > a {
	color: #323232;
}

.header__info-login:hover .header__login-form {
	display: block;
}

.header__info-login:hover .icon-login {
	background-position: -20px -23px;
}

.header__info-cart {
	display: inline-block;
	background: #a2b8ac;
	position: relative;
	border-radius: 20px;
	padding: 0px 15px 0px 15px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
	float: right;
	border: none;
}

.header__info-cart:hover .header__cart-list {
	display: block;
}

.icon-cart {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) -46px 0 no-repeat;
	float: left;
	margin-top: 5px;
	margin-right: 7px;
}

.icon-cart::after {
	content: '';
	display: block;
	height: 4px;
	width: 85px;
	position: relative;
	top: 25px;
}

.header__cart-list {
	position: absolute;
	top: 34px;
	right: 0;
	min-width: 540px;
	min-height: 200px;
	background: #f8f7f4;
	border-radius: 5px;
	z-index: 17;
	padding: 25px 15px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	display: none;
}

.header__products-list {
	width: 100%;
}

.header__products-list td {
	vertical-align: top;
}

.header__products-list tr {
	height: 55px;
}

.header__products-summ {
	border-top: 1px solid #cacac7;
	padding-top: 17px;
}

td.header__product-del {
	width: 25px;
	text-align: left;
	vertical-align: baseline;
}

.header__product-del a {
	font-size: 30px;
	line-height: 22px;
	color: #333;
	font-weight: 100;
	display: inline-block;
	border: none;
	vertical-align: middle;
}

.header__product-del a:hover {
	color: #ec593c;
}

td.header__product-img {
	width: 55px;
	text-align: center;
	vertical-align: top;
}

.header__product-img a {
	border-bottom: none;
	display: inline-block;
	width: 100%;
	height: auto;
}

.header__product-name {
	width: 235px;
	text-align: left;
	vertical-align: top;
}

.header__product-name a {
	color: #333333;
	border-bottom: none;
	font-size: 13px;
	line-height: 15px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
}

.header__product-name a:hover {
	color: #ec593c;
}

.header__product-price {
	width: 140px;
	text-align: left;
	padding-left: 40px;
	box-sizing: border-box;
}

.header__product-price span {
	color: #7f7f7f;
}

.header__product-summ {
	text-align: right;
}

.header__products-summ {
	font-size: 15px;
	font-weight: 700;
}

.header__cart-get {
	margin-top: 0px;
	float: right;
	font-size: 15px;
	line-height: 24px;
	padding: 5px 22px;
	font-weight: 500;
	border-radius: 30px;
	text-shadow: none;
	color: #fefefe;
}

.header__info-cart:hover {
	background: #f8f7f4;
}

.header__info-cart > a {
	color: #fff;
	border: none;
}

.header__info-cart:hover > a {
	color: #323232;
}

.header__info-cart:active{
	background: #f8f7f4;
	box-shadow: 0 -2px 1px #696969;
}

.header__info-cart:hover .icon-cart,
.header__info-cart.active .icon-cart {
	background-position: -46px -22px;
}

.header__info-worktime {
	position: absolute;
	bottom: -64px;
	right: 0;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	font-family: 'Roboto Bold', Arial, sans-serif;
}

.header__info-worktime span {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: 0.03em;
	display: inline-block;
}

/* content */

.content {

}

/* slider */

.slider {
	position: relative;
	width: 100%;
	min-height: 590px;
}

.slider__images {
	display: none;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.slider__images img {
	width: 647px;
	height: 584px;
	position: relative;
	top: 2px;
	right: -2px;
}

.slider__images.active {
	display: block;
	text-align: center;
	position: relative;
	width: 100%;
}

.slider__desc {
	position: absolute;
	top: 251px;
	left: 50%;
	margin-left: -345px;
	width: 690px;
	letter-spacing: -0.02em;
}

.slider__desc p {
	font-size: 60px;
	color: #fff;
	line-height: 60px;
	font-weight: 900;
	font-family: 'Roboto', Arial, sans-serif;
	margin-bottom: 30px;
}

.slider__desc .readmore {
	font-size: 32px;
	line-height: 62px;
	margin-left: 5px;
	padding: 0 45px 3px 40px;
	color: #fff;
	font-weight: 700;
}

.slider__nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 82px;
}

.slider__li {
	display: inline-block;
	margin-right: 5px;
}

.slider__li span {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.slider__li span:hover {
	background: #b2c1b7;
	cursor: pointer;
}

.slider__li.active span {
	background: #fff;
}

/* actions */

.actions {
	margin-top: -25px;
	margin-bottom: 40px;
	width: 100%;
	position: relative;
	min-height: 230px;
}

.actions::after {
	content: '';
	display: table;
	clear: both;
}

.actions__item {
	width: 48.8%;
	float: left;
	padding: 20px 15px 65px 20px;
	min-height: 230px;
	box-sizing: border-box;
	border-radius: 20px;
	position: relative;
}

.block-left {
	background: #41010B url(../img/berry.png) no-repeat;
}

.block-right {
	background: #5f3821 url(../img/chocko.png) no-repeat;
	float: right;
}

.actions__header {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 35px;
	letter-spacing: -0.01em;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 700;
}

.actions__desc {
	color: #fff;
	font-size: 18px;
	letter-spacing: -0.005em;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	margin-top: 22px;
}

.actions__link {
	text-align: right;
	position: absolute;
	right: 20px;
	bottom: 25px;
	font-size: 18px;
	line-height: 45px;
	padding: 0 25px 0px 25px;
	font-weight: 500;
	border-radius: 30px;
}

/* catalog */

.catalog {
	width: 100%;
	position: relative;
	margin-top: -5px;
	margin-bottom: 0px;
}

.catalog::after {
	content: '';
	display: table;
	clear: both;
}

.catalog__item {
	width: 21.94%;
	float: left;
	text-align: center;
	margin-left: 2.91%;
	padding: 5px 0.439% 75px 0.439%;
	position: relative;
	margin-bottom: -40px;
}

.catalog__item .readmore {
	display: none;
}

.catalog__item:hover {
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	z-index: 5;
}

.catalog__item:hover .readmore {
	display: inline-block;
	position: absolute;
	line-height: 36px;
	left: 50%;
	width: 70%;
	margin-left: -35%;
	bottom: 23px;
	text-shadow: none;
	font-weight: bold;
}

@media (max-width: 1000px) and (min-width: 600px) {
	.catalog__item:hover .readmore {
		width: 90%;
		margin-left: -45%;
		left: 50%;
	}
}


.catalog__item.hit::before {
	content: '';
	display: block;
	position: absolute;
	left: -5px;
	width: 62px;
	height: 62px;
	background: url(../img/hit.png) no-repeat;
	color: #303030;
	z-index: 2;
}

.catalog__item:first-child {
	margin-left: 0;
}

.catalog__img {
	margin-bottom: 15px;
	position: relative;
}

.catalog__item .catalog__img img {
	height: auto;
	z-index: 1;
	max-width: 109%;
	margin-left: -4.439%;
}

.catalog__price {
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
	text-shadow: 0 1px 3px #313235;
	position: absolute;
	bottom: 20px;
}

.catalog__price b {
	display: inline-block;
	height: 45px;
	width: 30px;
	background: url(../img/rub.png) no-repeat 0 100%;
}

.catalog__price span {
	font-size: 30px;
	margin-left: 5px;
}

.catalog__desc a {
	font-size: 16px;
	line-height: 22px;
	display: inline-block;
	margin-top: -4px;
	border: none;
}

.catalog__item a span {
	border-bottom: 1px solid #a9bbb1;
}

.catalog__desc a:hover {
	color: #fff;
}

.catalog__item a:hover span {
	border: none;
}

/* about */

.about {
	width: 100%;
	min-height: 305px;
	background: #ecdfc6 url(../img/vaflya.png);
	border-radius: 15px;
	padding: 20px 20px 10px 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.about__header {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 700;
	margin: 0 0 14px 0;
	letter-spacing: 0.01em;
	font-family: 'Roboto', Arial, sans-serif;
}

.about__list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.about__item {
	width: 48.4%;
	margin-right: 2.2%;
	display: inline-block;
}

.about__item:nth-child(2n) {
	margin-right: 0;
}

.about__item::before {
	content: '';
	width: 49px;
	height: 47px;
	display: inline-block;
	float: left;
}

.icon-ice::before {
	background: url(../img/sprite.png) 85.1% 0 no-repeat;
}

.icon-cow::before {
	background: url(../img/sprite.png) 99% 0 no-repeat;
}

.icon-leaf::before {
	background: url(../img/sprite.png) 71% 0 no-repeat;
}

.icon-greed::before {
	background: url(../img/sprite.png) 57% 0 no-repeat;
}

.about__item p {
	margin: 12px 0 10px 58px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}

/* news */

.news {
	width: 100%;
	margin-bottom: 40px;
}

.news::after {
	content: '';
	display: table;
	clear: both;
}

.news__lastnews {
	width: 48.86%;
	float: left;
	position: relative;
	min-height: 210px;
	border-radius: 15px;
	background: #fff;
	overflow: hidden;
	line-height: 0;
}

.news__lastnews-info {
	position: absolute;
	margin: 20px 0 0 20px;
}

.news__lastnews img {
	height: auto;
	max-width: none;
	line-height: 0;
}

.news__name {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
}

.news__header {
	margin: 5px 0 0 0;
	padding: 0;
	width: 300px;
}

.news__header a {
	color: #353535;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
	text-decoration: none;
	border-bottom: 2px solid #353535;
	background: rgba(255,255,255,0.5);
}

.news__header a:hover,
.news__header a:active {
	color: #ec593c;
}

.news__sendmail {
	width: 48.86%;
	float: right;
	background: url(../img/sendmail.png) no-repeat;
	border-radius: 15px;
	min-height: 220px;
	padding: 38px 2.5%;
	box-sizing: border-box;
}

.news__sendmail p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	margin: -7px 0 38px 0;
}

.news__input-mail {
	width: 73%;
	box-sizing: border-box;
	border: 1px solid #d3d3d2;
	padding: 0 10px;
	height: 42px;
	border-radius: 7px;
	color: #999;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
}

@media (max-width: 1090px) and (min-width: 600px) {
	.news__input-mail {
		width: 63%;
	}
}

.news__btn-submit {
	float: right;
	padding: 0 4%;
	height: 40px;
	border-radius: 20px;
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
}

/* map */

.map {
	width: 100%;
	min-height: 430px;
	margin-bottom: 20px;
	position: relative;
}

.nojs .map {
	background: #fff url(../img/map.png) no-repeat;
}

#contactmap {
	min-width: 980px;
}

.map__address {
	position: absolute;
	bottom: -370px;
	right: 25px;
	width: 305px;
	height: 305px;
	padding: 30px 25px;
	box-sizing: border-box;
	z-index: 14;
	background: #fdfefe;
	border-radius: 15px;
}

.map__address p {
	margin: 0 0 20px 0;
	color: #343434;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	font-weight: normal;
	font-family: 'Roboto', Arial, sans-serif;
}

.map__address strong {
	font-size: 18px;
	line-height: 24px;
}

p.map__last-p {
	line-height: 24px;
	margin: -2px 0 22px 0;
}

.map__form-link {
	text-align: center;
	width: 100%;
	font-size: 18px;
	line-height: 45px;
	padding: 0 25px 0px 25px;
	font-weight: 500;
	border-radius: 30px;
	box-sizing: border-box;
	letter-spacing: -0.02em;
}

/* ----------- catalog page --------- */

.catalog-page .page__content {
	padding-top: 13px;
}

/* breadcrumbs */

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline;
}

.breadcrumbs li a,
.breadcrumbs li span {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', Arial, sans-serif;
}

.breadcrumbs li::after {
	content: '»';
	display: inline;
	width: 10px;
	padding: 0 5px;
	color: #fff;
}

.breadcrumbs li:last-child::after {
	content: '';
	width: 0;
	padding: 0;
}

/* content__header */

.catalog-page h1 {
	margin: 0px 0 26px 0;
	letter-spacing: -0.04em;
}

/* filters */
.filters {
	margin-bottom: 40px;
	line-height: 0;
	font-size: 0;
}

.filters__wrap {
	display: inline-block;
	position: relative;
	margin-right: 1.2%;
}

.filters__label-sort,
.filters__label-price,
.filters__label-fat,
.filters__label-mixins {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 6px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	padding-left: 16px;
	display: inline-block;

}

.filters__wrap-sort select {
	border: none;
	width: 194px;
	background: #a9bab0;
	padding: 0 10px 0 10px;
	height: 36px;
	border-radius: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	font-family: 'Roboto', Arial, sans-serif;
	cursor: pointer;
}

.filters__sort-arrow {
	display: inline-block;
	width: 7px;
	height: 5px;
	position: absolute;
	top: 40px;
	right: 15px;
	color: #fff;
	background: url(../img/arrow.png) no-repeat 0 -5px;
}

.filters__wrap-sort select:hover,
.filters__wrap-sort select:focus {
	background: #fff;
	color: #343434;
}

.filters__wrap-sort select:hover + .filters__sort-arrow,
.filters__wrap-sort select:focus + .filters__sort-arrow {
	color: #343434;
	background-position: 0 0;
}

.filters__wrap-price {
	top: -32px;
	width: 220px;
	position: relative;
}


.price-controls {
  /*font-size: 0;*/
}

.filters__label-price {
	margin: 0 0 5px 0;
	padding-left: 15px;
	color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 23px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  background: none;
}

.range-controls {
	position: relative;
	padding: 16px 15px;
	background: #a9bab0;
	border-radius: 40px;
	/*margin-top: -30px;*/
}

.range-controls .scale {
  height: 5px;
  background: #d1d9d2;
}

.range-controls .bar {
  width: 52%;
  height: 5px;
  background: #f8f7f4;
  margin-left: 30px;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 0px;
  height: 0px;
  cursor: pointer;
  border: 10px solid #fff;
  border-radius: 50%;
  background: #f8f7f4;
}

.range-controls .toggle-min {
  left: 35px;
  top: 8px;
}

.range-controls .toggle-max {
  left: 135px;
  top: 8px;
}


.filters__wrap-fat {
	margin-right: 0;
}

.filters__fat-bg {
	background: #aabab0;
	position: relative;
	height: 38px;
	border-radius: 40px;
	padding: 0 15px;
	top: -2px;
}

.filters__wrap-fat input {
	display: none;
}

.filters__checkbox-fat {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: relative;
	top: 8px;
	cursor: pointer;
/*	margin-right: 14px;*/
}

.filters__checkbox-fat::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: 4px;
	left: 4px;
}

.filters__wrap-fat input:checked + .filters__checkbox-fat::after  {
	background: #fff;
}

.filters__checkbox-fat + span {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 38px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
	padding: 0 17px 0 10px;
}

.filters__checkbox-fat.last + span {
	padding-right: 0px;
}

.filters__wrap-mixins {
	margin-right: 2%;
}

.filters__wrap-mixins input {
	display: none;
}

.filters__label-mixins {
	margin-top: -22px;
}

.filters__mixins-bg {
	background: #aabab0;
	position: relative;
	height: 36px;
	border-radius: 40px;
	padding: 0 16px;
	top: -2px;
	line-height: 0;
}

.filters__checkbox-mix {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	border-radius: 5px;
	position: relative;
	top: 7px;
	vertical-align: top;
	cursor: pointer;
}

.filters__checkbox-mix::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 9px;
	height: 4px;
	top: 5px;
	left: 4px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.filters__wrap-mixins input:checked + .filters__checkbox-mix::after  {
	content: '';
	border-bottom: 3px solid #fff;
	border-left: 3px solid #fff;
}

.filters__checkbox-mix + span {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: 0.01em;
	vertical-align: middle;
	color: #fff;
	display: inline-block;
	padding: 0 22px 0 11px;
}

.filters__checkbox-mix.last + span {
	padding-right: 0;
}

.filters .submit {
	display: inline-block;
	padding: 0px 2%;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 32px;
	color: #fff;
	background: #a6b7ad;
	border: 2px solid #fcfcfc;
	border-radius: 40px;
	position: relative;
	top: 2px;
}
/*
span.filters__label-mixins {
	font-size: 14px;
}


@media (max-width: 1000px) and (min-width: 900px) {
	.catalog__item:hover .readmore {
		width: 90%;
		margin-left: -45%;
		left: 50%;
	}
}
*/
/* products list */

.catalog__items-row::before,
.catalog__items-row::after {
	content: '';
	display: table;
	clear: both;
}

.catalog-page .catalog__item {
	margin-right: 2.5%;
	margin-left: 0%;
	position: relative;
}

.catalog-page .catalog__item:nth-child(4n) {
	margin-right: 0;
}

.catalog-page .catalog__price {
	bottom: 30px;
	top: auto;
}

.catalog-page .catalog__price b {
	font-size: 0;
	line-height: 90px;
}

.catalog-page .catalog__img img {
	max-width: 109%;
	margin-left: 0px;
}

.catalog-page .catalog__desc a {
	margin-top: -12px;
}

/* pagination */
.content__footer {
	margin-top: 41px;
}

.pagination {
	list-style: none;
	margin: 0;
	padding: 4px 0 0 0;
	width: 100%;
	text-align: right;
	padding-bottom: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #a9bbb1;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination li.prev {
	margin-right: 15px;
}

.pagination li.next {
	margin-left: 15px;
}

.pagination li.active span {
	width: 26px;
	line-height: 26px;
	display: inline-block;
	background: #fff;
	border-radius: 50%;
	color: black;
	text-align: center;
	vertical-align: bottom;
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
}

.pagination a {
	border: none;
	line-height: 28px;
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
}

.pagination li.num a {
	width: 24px;
}

.pagination li.prev a,
.pagination li.next a,
.pagination li.prev span,
.pagination li.next span {
	font-size: 26px;
}

.pagination li.prev span,
.pagination li.next span {
	color: #9db1a5;
}

.filters__wrap-mixins {
	position: relative;
}

/* footer */

.footer {
	padding-bottom: 30px;
}

.footer::after {
	content: '';
	display: table;
	clear: both;
}

.footer__social {
	width: 25%;
	float: left;
	padding-top: 15px;
}

.catalog-page .footer__social {
	padding-top: 0;
}

.footer__social-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__social-list li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #c2cec7;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.footer__social-link {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 0;
	border-radius: 50%;
	opacity: 0.9;
	position: absolute;
	top: 0px;
	left: 0px;
}

.footer__social-link:hover {
	opacity: 1;
	border: none;
}

.footer__social-link:active {
	opacity: 1;
	box-shadow: inset 0 2px 1px #888;
}

.footer__twitter {
	background: url(../img/sprite.png) no-repeat -100px -6px;
}

.footer__instagram {
	background: url(../img/sprite.png) no-repeat -133px -6px;
}

.footer__facebook {
	background: url(../img/sprite.png) no-repeat -167px -6px;
}

.footer__vk {
	background: url(../img/sprite.png) no-repeat -66px -6px;
}

.catalog-page .footer__bootmenu {
	padding-top: 0;
}

.footer__bootmenu {
	width: 50%;
	float: left;
	padding-top: 15px;
}

.footer__bootmenu-list {
	list-style: none;
	margin: 0;
	padding: 0 0 0 30px;
	width: 390px;
	margin: 0 auto;
}

.footer__bootmenu-list li {
	display: inline-block;
	padding-left: 30px;
	box-sizing: border-box;
	min-width: 140px;
}

.footer__bootmenu-list li.active {
	background: url(../img/sprite.png) no-repeat 7px -44px;
}

.footer__bootmenu-list li.active a {
	font-weight: 700;
	color: #fff;
}

.footer__bootmenu-list a {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
}

.footer__bootmenu-list a:hover {
	color: #ffbc9e;
}

.footer__copiright {
	width: 24.5%;
	float: right;
	text-align: right;
	color: #fff;
}

.footer__copiright img {
	margin-right: 80px;
}

.footer__copiright p {
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	margin-left: 5px;
	letter-spacing: -0.01em;
}

/* modal */
.popup__overlay.active {
	position: fixed;
	left:  0;
	top:  0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 20;
}

.map__modal {
  position: absolute;
  top: -100px;
  left: 37%;
  padding: 20px;
  display: none;
  width: 480px;
  min-height: 380px;
  color: #000000;
  background: #f8f7f4;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 21;
}

.map__modal.active {
	display: block;
}

.map__modal-header {
	margin: 0 0 23px 0;
	font-size: 24px;
	color: #343434;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
}

.map__modal-close {
	font-size: 40px;
	color: #343434;
	font-weight: 100;
	font-family: 'Roboto', Arial, sans-serif;
	display: inline-block;
	float: right;
	padding: 5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	margin: -10px -10px 0 0;
	cursor: pointer;
}

.map__modal-close:hover {
	color: #ec593c;
}

.map__modal-form {
	position: relative;
}

.map__modal-form input {
	width: 270px;
	height: 40px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 2px solid #d3d3d2;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #656565;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;
}

.map__modal-form i {
	display: none;
	font-size: 11px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Roboto', Arial, sans-serif;
	color: #5b9ddf;
	position: absolute;
	left: 20px;
	font-style: normal;
}

.map__modal-form input:hover,
.map__modal-form textarea:hover {
	border: 2px solid #c7c6c5;
}

.map__modal-form input:focus,
.map__modal-form input:focus:hover,
.map__modal-form textarea:focus,
.map__modal-form textarea:focus:hover {
	border: 2px solid #8fbdec;
}

.map__modal-name:focus + i {
	display: inline-block;
	top: -20px;
}

.map__modal-mail:focus + i {
	display: inline-block;
	top: 40px;
}

.map__modal-message:focus + i {
	display: inline-block;
	top: 100px;
}

.map__modal-form textarea {
	padding: 10px 20px;
	box-sizing: border-box;
	border: 2px solid #d3d3d2;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
	height: 155px;
	font-size: 16px;
	line-height: 24px;
	color: #656565;
	font-weight: 300;
	font-family: 'Roboto', Arial, sans-serif;

}

.map__modal-submit {
	float: right;
	font-size: 15px;
	line-height: 36px;
	padding: 0 25px;
	font-weight: 500;
	border-radius: 30px;
}
